<html>

<head>
    <meta charset="UTF-8">
    <title>Abakkus Investing - 404 Error (Page Not Found)</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/styles/materialize.css" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="/static/styles/abakkus.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>

    <div class="ErrorPageBackground">
        <div class="row" style="padding-top: 10%; padding-left: 4%">
            <div class="col s12 m12 l6 offset-l6">
                <h3 style="color: white; font-weight: 800">404 Error: Abakkus Squirrel could not find the page you were looking for. </h3>
                <h5 style="color: white">Maybe you wanted to go:
                    <a href="/" style="font-weight: 800">Home, </a>
                    <a href="/about" style="font-weight: 800">About. </a>
                    <a href="/people" style="font-weight: 800">People, </a>
                    <a href="/blog" style="font-weight: 800">Blog. </a>
                </h5>
            </div>
        </div>
    </div>


</body>

</html>