<footer class="page-footer" id="footer-top">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Office Addresses</h5>
                <div class="row">
                    <div class="col s12 l6">
                        <a href="https://goo.gl/maps/LELvTxhBZSC2" target="_blank" style="color: whitesmoke; font-weight: 600">
                            <p class="grey-text text-lighten-4">MUMBAI OFFICE
                                <br/>1st Floor, 106B, The Capital,
                                <br/> Bandra Kurla Complex, Bandra (E),
                                <br/> Mumbai, Maharashtra 400098
                                <br/>

                            </p>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col l4 offset-l2 s12" id="footer">
                <h5 class="white-text">Contact Us</h5>
                <ul>
                    <li>
                        <p class="grey-text text-lighten-3" href="#!">Phone: +91 22 4884 6600</p>
                    </li>
                    <li>
                        <p class="grey-text text-lighten-3" href="#!">Email: info@abakkusinvest.com</p>
                    </li>
                    <li>
                        Follow Us On: 
                        <a>
                            <img src="/static/imgs/social/facebook-white.png" style="height:28px;">
                        </a>
                        <a href="https://twitter.com/Abakkusinvest" target="_blank">
                            <img src="/static/imgs/social/twitter-white.png" style="height:28px;">
                        </a>
                        <a href="https://www.linkedin.com/company/abakkus-asset-managers-llp" target="_blank" />
                        <img src="/static/imgs/social/linkedin-white.png" style="height:28px;">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright" id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col s12 m8 l8">
                    Copyright © 2018 Abakkus | All Rights Reserved
                </div>
                <div class="col s12 m4 l4">
                    <a class="grey-text text-lighten-4" href="#!">Terms and Conditions | Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    $("#footer-top").css("background-color", "#797EA4");
    $("#footer-bottom").css("background-color", "#4B5286");
</script>