<html>

<head>
    <meta charset="UTF-8">
    <title>Abakkus Investing</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/styles/materialize.css" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="/static/styles/abakkus.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script> {% include "navigationBar.html" %}

    <div class="imgbox" id="homeSection">
        <img class="center-fit" src='/static/imgs/Squirrel Header.png'>
    </div>

    <div class="fullScreenBlock" id="faqSection">
        <h4 style="text-align: center; padding-top: 2%;">Frequently Asked Questions (FAQs)</h4>
        <div name="info-cards" style="padding: 2%">
            <ul class="collapsible z-depth-2">
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">perm_identity</i>Who are we?</div>
                    <div class="collapsible-body">
                        <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac purus non mi auctor pharetra
                            non in nibh. Sed at erat a eros mollis tincidunt. Aenean aliquet tortor nisl, at volutpat erat
                            bibendum vel. Pellentesque pellentesque tellus nec sodales finibus. Nam hendrerit finibus erat,
                            eu hendrerit augue convallis sit amet. Fusce imperdiet cursus massa ut vehicula. Pellentesque
                            at lacus eros. Donec auctor tempor felis, eget pellentesque ante eleifend et. Proin eget magna
                            vitae purus egestas fermentum eu eu erat. In commodo molestie erat, id elementum felis gravida
                            faucibus. Aenean vel nunc eu leo volutpat interdum at nec metus. Maecenas vitae ex id odio sollicitudin
                            sollicitudin a a erat. Nullam tortor massa, interdum id tempus vel, consectetur sed lacus. Etiam
                            tristique dignissim mi, nec placerat diam varius vitae. Sed id vulputate nibh. </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">star</i>What do we do?</div>
                    <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet.</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">sentiment_very_satisfied</i>More about us.</div>
                    <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet.</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">perm_identity</i>Who are we?</div>
                    <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet.</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">star</i>What do we do?</div>
                    <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet.</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">person_add</i>Where can I apply to join the team?</div>
                    <div class="collapsible-body">
                        <span>You can email your CV to
                            <font style="color: dodgerblue; font-weight: 500;">hr@abakkusinvest.com</font>. You can aslo follow us on Facebook, Twitter and LinkedIn to stay
                            up to date on future opportunities.</span>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="fullScreenBlock scrollspy" id="newsletterRegistration" style="padding: 2%">
        <h4 style="text-align: center;">Sign Up For Our Newsletter</h4>
        <h5 style="text-align: center;">Updates and Insights delivered directly to your mailbox.</h5>

        <div class="row">
            <div class="card-panel">
                <form action="/newsLetterRegistration" method="POST ">
                    <div class="row" style="background-color: black">
                        <div class="input-field col s12 m12 l4" style="background-color: indigo">
                            <!-- <i class="material-icons prefix ">phone</i> -->
                            <input id="name " name="name " type="text " class="validate" style="width:100%">
                            <label for="name ">Name</label>
                        </div>
                        <div class="input-field col s12 m12 l6" style="background-color: indianred">
                            <!-- <i class="material-icons prefix ">phone</i> -->
                            <input id="email_address " name="email_address " type="text " class="validate" style="width:100%">
                            <label for="email_address ">Email Address</label>
                        </div>
                        <div class="col s12 m12 l2" style="background-color: dodgerblue; padding-top:16px;">
                            <button class="btn waves-effect waves-light" type="submit" name="action" style="width:100%;">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Add disclaimer about data usage and email address usage -->
</body>

{% include "footer.html" %}

<script>
    $("#newsletterRegistration").css("background-color", "#ECECEF");
    $(document).ready(function () {
        $(".collapsible ").collapsible();
        $('.scrollspy').scrollSpy({ throttle: 10 });
    });

    $(document).ready(function () {
        $(".hiddenElement ").fadeIn(4000);
    }, 4000);

</script>

</html>