<html>

<head>
    <meta charset="UTF-8">
    <title>Abakkus Investing</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/styles/materialize.css" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="/static/styles/abakkus.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script> {% include "navigationBar.html" %}
    <div class="row" style="padding: 24px">
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/static/imgs/MUN headshot.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Ujjwal Singhania
                    </span>
                    <p>
                        Lorem Ipsum
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Ujjwal is a senior majoring in computer science at the Tandon School of Engineering at NYU. He has been
                        a part of three NYUMUNC conferences in the past as a vice-chair, chair and as an AUSG-Committees.
                        When he’s not hacking away on school assignments or building machine learning models, Ujjwal likes
                        to read, play video games and travel. Apart from being involved with ModelUN, Ujjwal is a TA for
                        Algorithms and ML and is also cracking away on beating the financial market using AI.</p>
                </div>
                <div class="card-action" style="text-align: center">
                    <a>
                        <img src="/static/imgs/social/twitter-black.png" style="height:28px;">
                    </a>
                    <a>
                        <img src="/static/imgs/social/linkedin-black.png" style="height:28px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/static/imgs/MUN headshot.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Ujjwal Singhania
                    </span>
                    <p>
                        Lorem Ipsum
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Ujjwal is a senior majoring in computer science at the Tandon School of Engineering at NYU. He has been
                        a part of three NYUMUNC conferences in the past as a vice-chair, chair and as an AUSG-Committees.
                        When he’s not hacking away on school assignments or building machine learning models, Ujjwal likes
                        to read, play video games and travel. Apart from being involved with ModelUN, Ujjwal is a TA for
                        Algorithms and ML and is also cracking away on beating the financial market using AI.</p>
                </div>
                <div class="card-action" style="text-align: center">
                    <a>
                        <img src="/static/imgs/social/twitter-black.png" style="height:28px;">
                    </a>
                    <a>
                        <img src="/static/imgs/social/linkedin-black.png" style="height:28px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/static/imgs/MUN headshot.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Ujjwal Singhania
                    </span>
                    <p>
                        Lorem Ipsum
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Ujjwal is a senior majoring in computer science at the Tandon School of Engineering at NYU. He has been
                        a part of three NYUMUNC conferences in the past as a vice-chair, chair and as an AUSG-Committees.
                        When he’s not hacking away on school assignments or building machine learning models, Ujjwal likes
                        to read, play video games and travel. Apart from being involved with ModelUN, Ujjwal is a TA for
                        Algorithms and ML and is also cracking away on beating the financial market using AI.</p>
                </div>
                <div class="card-action" style="text-align: center">
                    <a>
                        <img src="/static/imgs/social/twitter-black.png" style="height:28px;">
                    </a>
                    <a>
                        <img src="/static/imgs/social/linkedin-black.png" style="height:28px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/static/imgs/MUN headshot.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Ujjwal Singhania
                    </span>
                    <p>
                        Lorem Ipsum
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Ujjwal is a senior majoring in computer science at the Tandon School of Engineering at NYU. He has been
                        a part of three NYUMUNC conferences in the past as a vice-chair, chair and as an AUSG-Committees.
                        When he’s not hacking away on school assignments or building machine learning models, Ujjwal likes
                        to read, play video games and travel. Apart from being involved with ModelUN, Ujjwal is a TA for
                        Algorithms and ML and is also cracking away on beating the financial market using AI.</p>
                </div>
                <div class="card-action" style="text-align: center">
                    <a>
                        <img src="/static/imgs/social/twitter-black.png" style="height:28px;">
                    </a>
                    <a>
                        <img src="/static/imgs/social/linkedin-black.png" style="height:28px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/static/imgs/MUN headshot.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Ujjwal Singhania
                    </span>
                    <p>
                        Lorem Ipsum
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Ujjwal is a senior majoring in computer science at the Tandon School of Engineering at NYU. He has been
                        a part of three NYUMUNC conferences in the past as a vice-chair, chair and as an AUSG-Committees.
                        When he’s not hacking away on school assignments or building machine learning models, Ujjwal likes
                        to read, play video games and travel. Apart from being involved with ModelUN, Ujjwal is a TA for
                        Algorithms and ML and is also cracking away on beating the financial market using AI.</p>
                </div>
                <div class="card-action" style="text-align: center">
                    <a>
                        <img src="/static/imgs/social/twitter-black.png" style="height:28px;">
                    </a>
                    <a>
                        <img src="/static/imgs/social/linkedin-black.png" style="height:28px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/static/imgs/MUN headshot.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Ujjwal Singhania
                    </span>
                    <p>
                        Lorem Ipsum
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Ujjwal is a senior majoring in computer science at the Tandon School of Engineering at NYU. He has been
                        a part of three NYUMUNC conferences in the past as a vice-chair, chair and as an AUSG-Committees.
                        When he’s not hacking away on school assignments or building machine learning models, Ujjwal likes
                        to read, play video games and travel. Apart from being involved with ModelUN, Ujjwal is a TA for
                        Algorithms and ML and is also cracking away on beating the financial market using AI.</p>
                </div>
                <div class="card-action" style="text-align: center">
                    <a>
                        <img src="/static/imgs/social/twitter-black.png" style="height:28px;">
                    </a>
                    <a>
                        <img src="/static/imgs/social/linkedin-black.png" style="height:28px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/static/imgs/MUN headshot.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Ujjwal Singhania
                    </span>
                    <p>
                        Lorem Ipsum
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Ujjwal is a senior majoring in computer science at the Tandon School of Engineering at NYU. He has been
                        a part of three NYUMUNC conferences in the past as a vice-chair, chair and as an AUSG-Committees.
                        When he’s not hacking away on school assignments or building machine learning models, Ujjwal likes
                        to read, play video games and travel. Apart from being involved with ModelUN, Ujjwal is a TA for
                        Algorithms and ML and is also cracking away on beating the financial market using AI.</p>
                </div>
                <div class="card-action" style="text-align: center">
                    <a>
                        <img src="/static/imgs/social/twitter-black.png" style="height:28px;">
                    </a>
                    <a>
                        <img src="/static/imgs/social/linkedin-black.png" style="height:28px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/static/imgs/MUN headshot.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Ujjwal Singhania
                    </span>
                    <p>
                        Lorem Ipsum
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Ujjwal is a senior majoring in computer science at the Tandon School of Engineering at NYU. He has been
                        a part of three NYUMUNC conferences in the past as a vice-chair, chair and as an AUSG-Committees.
                        When he’s not hacking away on school assignments or building machine learning models, Ujjwal likes
                        to read, play video games and travel. Apart from being involved with ModelUN, Ujjwal is a TA for
                        Algorithms and ML and is also cracking away on beating the financial market using AI.</p>
                </div>
                <div class="card-action" style="text-align: center">
                    <a>
                        <img src="/static/imgs/social/twitter-black.png" style="height:28px;">
                    </a>
                    <a>
                        <img src="/static/imgs/social/linkedin-black.png" style="height:28px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/static/imgs/MUN headshot.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Ujjwal Singhania
                    </span>
                    <p>
                        Lorem Ipsum
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Ujjwal is a senior majoring in computer science at the Tandon School of Engineering at NYU. He has been
                        a part of three NYUMUNC conferences in the past as a vice-chair, chair and as an AUSG-Committees.
                        When he’s not hacking away on school assignments or building machine learning models, Ujjwal likes
                        to read, play video games and travel. Apart from being involved with ModelUN, Ujjwal is a TA for
                        Algorithms and ML and is also cracking away on beating the financial market using AI.</p>
                </div>
                <div class="card-action" style="text-align: center">
                    <a>
                        <img src="/static/imgs/social/twitter-black.png" style="height:28px;">
                    </a>
                    <a>
                        <img src="/static/imgs/social/linkedin-black.png" style="height:28px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/static/imgs/MUN headshot.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Ujjwal Singhania
                    </span>
                    <p>
                        Lorem Ipsum
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Ujjwal is a senior majoring in computer science at the Tandon School of Engineering at NYU. He has been
                        a part of three NYUMUNC conferences in the past as a vice-chair, chair and as an AUSG-Committees.
                        When he’s not hacking away on school assignments or building machine learning models, Ujjwal likes
                        to read, play video games and travel. Apart from being involved with ModelUN, Ujjwal is a TA for
                        Algorithms and ML and is also cracking away on beating the financial market using AI.</p>
                </div>
                <div class="card-action" style="text-align: center">
                    <a>
                        <img src="/static/imgs/social/twitter-black.png" style="height:28px;">
                    </a>
                    <a>
                        <img src="/static/imgs/social/linkedin-black.png" style="height:28px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/static/imgs/MUN headshot.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Ujjwal Singhania
                    </span>
                    <p>
                        Lorem Ipsum
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Ujjwal is a senior majoring in computer science at the Tandon School of Engineering at NYU. He has been
                        a part of three NYUMUNC conferences in the past as a vice-chair, chair and as an AUSG-Committees.
                        When he’s not hacking away on school assignments or building machine learning models, Ujjwal likes
                        to read, play video games and travel. Apart from being involved with ModelUN, Ujjwal is a TA for
                        Algorithms and ML and is also cracking away on beating the financial market using AI.</p>
                </div>
                <div class="card-action" style="text-align: center">
                    <a>
                        <img src="/static/imgs/social/twitter-black.png" style="height:28px;">
                    </a>
                    <a>
                        <img src="/static/imgs/social/linkedin-black.png" style="height:28px;">
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}

</body>

</html>