<ul class="side-nav" id="mobile-navbar">
    <li>
        <a href="#homeSection" class="waves-effect waves-yellow navBar" data-target="home" style="color:black">Home</a>
    </li>
    <li>
        <a href="#aboutSection" class="waves-effect waves-yellow navBar" data-target="about" style="color:black">About</a>
    </li>
    <li>
        <a href="#contactUsSection" class="waves-effect waves-yellow navBar" data-target="contactUs" style="color:black">Contact Us</a>
    </li>
</ul>
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    });
</script>